.box {
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: red;
}

.box1 {
    border: 10px solid blue;
}

.box2 {
    border: 20px solid green;
    margin-left: 159.2px;
}

.box3 {
    border: 30px solid gray;
    margin-left: 339.2px;
}