.box {
    width: 210px;
    height: 200px;
    background-color: red;
    padding: 10px 20px 30px 40px;
    border: 10px solid blue;

    /* Khoảng cách tường minh: */
    /* Khoảng cách bên trên (mt -> margin-top: ;)*/
    margin-top: 15px;
    /* Khoảng cách bên dưới (mb -> margin-bottom: ;)*/
    margin-bottom: 20px;
    /* Khoảng cách bên phải (mr -> margin-right: ;)*/
    margin-right: 30px;
    /* Khoảng cách bên trái (ml -> margin-left: ;)*/
    margin-left: 15px;

    /* Khoảng cách cả 4 hướng: */
    /* margin: 10px; */

    /* Khoảng cách theo từng hướng (Không tường minh): */
    /* margin: 10px 20px (Trên dưới - Phải Trái) */
    /* margin: 10px 20px 30px (Trên - Phải Trái - Dưới) */
    /* margin: 10px 20px 30px 40px (Trên - Phải - Trái - Dưới) */
}