/* a[href]: chỉ tác động vào thẻ a mà không có thẻ p */
p[href] {
    color: red;
}

/* [href]: tác động lên các thẻ có thuộc tính là href */
[href] {
    color: blue;
}

/* [target = "_blank"]: Chọn tất cả các thẻ có thuộc tính có chính xác giá trị ("target ="bank") */
[target="_blank"] {
    color: pink;
}