/* p:nth-of-type(3) : Chọn các thẻ đúng loại <p> xuất hiện thứ 3 trong thẻ cha */
p:nth-of-type(3) {
    color: red;
    font-size: 30px;
}

/* p:nth-of-type(odd) : Chọn các thẻ theo n lẻ */
p:nth-of-type(odd) {
    color: blue;
    font-size: 30px;
}

/* p:nth-of-type(even) : Chọn các thẻ theo n chẵn */
p:nth-of-type(even) {
    color: pink;
    font-size: 30px;
}